*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;

  &.popup {
    overflow: hidden;
  }

  @include media-table {
    &.open {
      overflow: hidden;
    }
  }
}
