.btn-catalog {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  width: 15%;
  background-color: $color-brand-dark;
  color: $font-color;
  border: none;
  text-decoration: none;
  margin: 10px auto;
  padding: 5px 0;

  @include media-table {
    font-size: 12px;
    width: 30%;
  }
}

.empty__text {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin: 40px auto;
  text-align: center;
  @include media-table {
    font-size: 20px;
  }
}

.cart-item {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid grey;
  justify-content: space-between;
  height: 200px;
  align-items: center;

  @include media-table {
    height: 90px;
    border-radius: 5px;
    flex-flow: wrap;
  }
}

.container-cart {
  margin: 50px;

  @include media-table {
    margin: 20px;
  }
}

.image-item {
  height: 150px;
  border-radius: 10px;

  @include media-table {
    height: 70px;
    border-radius: 5px;
  }
}

.quantity {
  width: 35px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 12px;

  @include media-table {
    width: 20px;
    padding-left: 6px;
  }
}

.btn-minus,
.btn-plus {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(236 236 236);

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  @include media-table {
    border-radius: 10px;
    width: 10px;
    height: 10px;
  }
}

.cart-btn-delete {
  background-color: $color-brand-dark;
  border-radius: 20px;
  width: 70px;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  @include media-table {
    width: 40px;
    font-size: 12px;
  }
}

.cart-number {
  width: 7%;
  text-align: center;

  @include media-table {
    width: 20px;
  }
}

.cart-delete,
.cart-all-price,
.cart-quantity,
.cart-price,
.cart-name {
  width: 15%;
  text-align: center;

  @include media-table {
    font-size: 12px;
  }
}

.cart-total {
  margin: 50px;
  text-align: end;
  margin-bottom: 20px;
}

.btn-clear {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 20px;
  width: 20%;
  background-color: $color-brand-dark;
  color: $font-color;
  border: none;
  text-decoration: none;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  @include media-table {
    font-size: 12px;
    width: 40%;
  }
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
}

.div-promo {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  margin-left: 50px;
  @include media-table {
    margin-left: 30px;

  }
}

.btn-promo {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 20px;
  width: 10%;
  background-color: $color-brand-dark;
  color: $font-color;
  border: none;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  @include media-table {
    font-size: 12px;
    width: 30%;
  }
}

.promo-code {
  margin: 0 20px;
  padding: 5px;
  outline: none;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: 1px solid grey;
  border-radius: 20px;
  width: 30%;
}

.promo-warning {
  color: green;
}

.crossline {
  text-decoration: line-through;
}

.cartnew-total {
  margin: 50px;
  text-align: end;
  margin-bottom: 10px;
  margin-top: 0;
}

.red-promo{
  color: red;
}

.btn-catalog{
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding:30px 0;
}

.modal-window{
  background: #f9f1e4;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-invisible {
  display: none;
}

.button-container{
  display: flex;
  width: 50%;
}

.button-cancel, .button-approve {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  width: 50%;
  background-color: $color-brand-dark;
  color: $font-color;
  border: none;
  text-decoration: none;
  margin: 10px;
  padding: 5px 0;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.promo-title{
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  @include media-table {
    font-size: 12px;

  }
}