.detail {
  @include display-flex(flex-start, center);

  gap: 50px;
  width: 90%;
  margin: 40px auto;

  &__images-block {
    position: relative;
    width: 30%;
    overflow: hidden;
    font-size: 100px;
    color: $color-brand-dark;
  }

  &__img-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }
}

.product-info {
  @include display-flex(flex-start, space-between);

  flex-direction: column;
  width: 30%;
}

.product-price {
  margin: 5px 0 40px;
}

.img {
  @include display-flex(center, center);

  flex: 0 0 100%;
  width: 70%;
  height: 620px;
  background-size: contain;
  background-repeat: no-repeat;
}

.prev-img {
  @include display-flex(center, center);

  top: 50%;
  position: absolute;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    color: $color-brand;
  }

  &:active {
    opacity: 0.7;
  }
}

.next-img {
  @include display-flex(center, center);

  top: 50%;
  right: 0;
  position: absolute;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    color: $color-brand;
  }

  &:active {
    opacity: 0.7;
  }
}
