@mixin display-flex($align-item, $justify) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify;
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../assets/fonts/#{$file_name}.ttf') format('truetype');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
