.header {
  background-color: $color-brand;
}

.header__wrapper {
  @include display-flex(center, space-around);

  width: 95%;
  margin: auto;
  padding: 30px 0;
}

.logo {
  @include display-flex(center, space-between);

  text-decoration: none;
  color: $color-text-base;

  @extend %hover-transition;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.logo__icon {
  background-image: url('../assets/icons/main_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 20px;
}

.logo__text {
  margin: 0 0 0 10px;
  color: $color-brand-dark;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: $color-text-base;
  margin-left: 75px;

  @extend %hover-transition;

  &:nth-child(1) {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    color: $color-brand-dark;
  }
}

.icon-bar {
  @include display-flex(center, space-between);
}

.profile__icon {
  background-image: url('../assets/icons/account.svg');

  @extend %icon-param;
  @extend %hover-transition;
}

.basket__icon {
  margin-left: 10px;
  background-image: url('../assets/icons/shopping-cart.svg');

  @extend %icon-param;
  @extend %hover-transition;
}

.login-link {
  text-decoration: none;
  color: $color-text-base;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: $color-brand-dark;
  border-radius: 20px;

  @extend %hover-transition;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    color: $color-brand-dark;
  }
}
